include *.md
include LICENSE

recursive-include phynteny_utils/ *
recursive-include phynteny_utils/phrog_annotation_info/ *
recursive-include test_data/ *
recursive-include train_phynteny/ *  

global-exclude phynteny_utils/ *.pyc
global-exclude phynteny_utils/__pycache__*.pyc
